.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
}

.header img {
  height: 2rem;
}

.header span {
  font-weight: 600;
  font-size: 1.5rem;
  padding-left: 0.15625rem;
  color: var(--green-500);
}
