.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}

.toast {
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px;
  padding: 10px 20px 10px 20px;
  overflow: hidden;
  background: gray;

  height: auto;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(56, 56, 56, 0.8);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast strong {
  color: dark-gray;
  font-weight: bold;
  font-sizer: 18px;
}

.toast p {
  color: dark-gray;
  font-sizer: 14px;
}

.toast svg {
  color: dark-gray;
  font-sizer: 14px;
}

.success {
  background: #9bf0bd;
}

.success strong {
  color: #467757;
}

.success p {
  color: #467757;
}

.success svg {
  color: #467757;
}

.danger {
  background: red;
}

.danger strong {
  color: black;
}

.danger p {
  color: black;
}

.danger svg {
  color: black;
}

.warning {
  background: yellow;
}

.warning strong {
  color: black;
}

.warning p {
  color: black;
}

.warning svg {
  color: black;
}

.info {
  background: blue;
}

.info strong {
  color: black;
}

.info p {
  color: black;
}

.info svg {
  color: black;
}

@keyframes example {
  0% {
    transform: translateY(-60px);
  }
}

.show {
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.close {
  display: none;
}
